## `Actividades preliminares`

Comenzamos importando la libreria de pandas

In [1]:
import pandas as pd

Cargamos el dataset que utilizaran durante la investigacion

In [2]:
crime_scene_report     = pd.read_csv("./_src/datasets/Crime Scene report.csv")
drivers_license        = pd.read_csv("./_src/datasets/Drivers license.csv")
facebook_event_checkin = pd.read_csv("./_src/datasets/facebook_event_checkin.csv")
getfitnow_checkin      = pd.read_csv("./_src/datasets/GetFitNow check in.csv")
getfitnow_members      = pd.read_csv("./_src/datasets/GetFitNow members.csv")
income                 = pd.read_csv("./_src/datasets/income.csv")
interview              = pd.read_csv("./_src/datasets/Interviews.csv")
person                 = pd.read_csv("./_src/datasets/Person.csv")

Veamos un poco como estan conformados estos dataframes

In [3]:
# Usamos .info() para ver una descripcion general del dataset, como sus tipos de datos en cada columna y si presenta nulos
crime_scene_report.info()
#Podes cambiar el dataset para ver la informacion general del que quieras

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1228 entries, 0 to 1227
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         1228 non-null   object
 1   Type         1228 non-null   object
 2   Description  939 non-null    object
 3   City         1228 non-null   object
dtypes: object(4)
memory usage: 38.5+ KB

In [4]:
crime_scene_report.head(3)

         Date       Type Description        City
0  2017-01-07  smuggling         NaN    Savannah
1  2017-01-11     murder         NaN  Springdale
2  2017-01-12  smuggling         NaN   Melbourne

In [6]:
crime_scene_report

,Date,Type,Description,City
0,2017-01-07,smuggling,NaN,Savannah
1,2017-01-11,murder,NaN,Springdale
2,2017-01-12,smuggling,NaN,Melbourne
3,2017-01-13,assault,NaN,Reading
4,2017-01-14,blackmail,NaN,Orange
...,...,...,...,...
1223,2018-04-10,arson,"its head impatiently, and walked a little quic...",Santa Ana
1224,2018-04-14,arson,go down the chimney!’,San Jose
1225,2018-04-17,arson,"Alice, she went on, ‘What’s your name, child?’",Clarke County
1226,2018-04-25,arson,simply--“Never imagine yourself not to be othe...,Louisville
1227,2018-04-28,arson,remained some time after the rest of it had gone.,Denton

## `Comenzamos la investigacion`

### Un crimen ha ocurrido y el detective necesita tu ayuda.

#### Pero antes, veamos un diagrama de esquema para ver como estan conectados todos los dataframes

<img src="./_src/schemeboard.png">


### Te entregaron el informe del lugar del crimen, pero de alguna manera lo perdiste. Recordas vagamente que el crimen fue un ​asesinato​ que ocurrió en algún momento el ​15 de enero de 2018​ y que tuvo lugar en ​Pandas City​. **Te recomiendo comenzar por recuperar el informe correspondiente de su respectivo dataframe**

In [17]:
crimen = crime_scene_report[(crime_scene_report['Date']== '2018-01-15') &
                            (crime_scene_report['Type']== 'murder') & 
                            (crime_scene_report['City']== 'Pandas City')]
crimen

,Date,Type,Description,City
781,2018-01-15,murder,Security footage shows that there were 2 witne...,Pandas City

## Si creen que encontraron al asesino, ejecuten el siguiente codigo con el posible sospechoso

 Por favor, tene en cuenta que es recomendable no acceder al archivo "asesino.py" para evitar revelar detalles importantes de la caso. Si deseas disfrutar plenamente de la experiencia sin spoilers, te sugiero que evites examinar dicho archivo."

In [ ]:
from asesino import solucion
solucion("Colocar aca el nombre del sospechoso")